version: '3.8'

services:
  neo4j:
    image: neo4j:enterprise
    container_name: neo4j
    ports:
      - "7474:7474"  
      - "7687:7687"   
    
    environment:
      - NEO4J_AUTH=neo4j/test12345
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      
      - NEO4J_server_memory_heap_initial__size=512m
      - NEO4J_server_memory_heap_max__size=2G
      
    volumes:
      - neo4j_data:/data
      - ./import:/var/lib/neo4j/import    
      - ./logs:/logs
    
    restart: unless-stopped

volumes:
  neo4j_data: