services:
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:    
      - mongo_data:/data/db
      - ./init:/docker-entrypoint-initdb.d:ro
      - ./operations:/operations:ro
      - ./seeds:/seeds:ro

volumes:
  mongo_data:
